// The BORIS UI is a single-page React app.
doctype html
html
    head
        title BORIS

        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(href="https://fonts.googleapis.com/css?family=Kanit:700|Noto+Sans", rel="stylesheet")
        link(href=`${resUrl}/style.css`, rel="stylesheet")

body
    #app-container
    script(crossorigin, src=`https://unpkg.com/react@${reactVersion}/umd/react.${reactBuild}.js`)
    script(crossorigin, src=`https://unpkg.com/react-dom@${reactVersion}/umd/react-dom.${reactBuild}.js`)

    script(src=`${resUrl}/main.js`)
