// The BORIS UI is a single-page React app.
doctype html
html
    head
        title BORIS

        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(href="https://fonts.googleapis.com/css?family=Kanit:700|Noto+Sans", rel="stylesheet")
        link(href=`${resUrl}/style.css?${styleCssHash}`, rel="stylesheet")

        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KW3FPFT');

body
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KW3FPFT', height='0', width='0', style='display: none; visibility: hidden;')
    #app-container
    script(crossorigin, src=`https://unpkg.com/react@${reactVersion}/umd/react.${reactBuild}.js`)
    script(crossorigin, src=`https://unpkg.com/react-dom@${reactVersion}/umd/react-dom.${reactBuild}.js`)

    script(src=`${resUrl}/main.js?${mainJsHash}`)
